{% extends 'base_generic.html' %}

{% block content %}

<style>
  .spoiler-toggle {
    cursor: pointer;
    padding: 10px;
    background-color: #8aceff;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    user-select: none;
  }
  .spoiler-toggle:hover {
    background-color: #bee0f7;
  }
  .spoiler-content {
    display: none;
    padding: 10px;
    border: 1px solid #ddd;
    border-top: none;
  }

</style>

    <h1>FAQ</h1>
<br>
    <h3 class="spoiler-toggle" onclick="toggleSpoiler(event)">Как сгенерировать отчет?</h3>
<div class="spoiler-content">
<p>1) В меню выберите кнопку в левом меню “Создать новый отчет”</p>
<p>2) В пункте "Название отчета" введите название отчета</p>
<p>3) В пункте Краткое содержание отчета опишите ваши основные пожелания к отчету</p>
<p>4) В пункте Тип отчета выберите один из предложенных шаблонов (вы сможете редактировать их в пункте меню “Шаблоны отчетов”, подробнее в главе инструкции “Как настраивать шаблоны?”)</p>
<p> <img src="/media/report_types.png" alt="Выбор типа отчетов" /> </p><br>
<p>5) В поле Дополнительные источники вы можете добавить источники в формате через запятую (например, domain1.ru, domain2.ru), которых не было в шаблоне! Внимание, каждый шаблон уже содержит предустановленные источники, проверить которые можно во вкладке “Шаблоны”</p>
<p>6) В поле Фильтры вы можете написать условия поиска, которые будут использованы как при поисковых запросах, так и при генерации отчета (напр. “Не вноси в отчет данные о проектах из компании N”)</p>
<p>7) В поле Начальная дата укажите с какого периода вы хотите рассматривать информацию для отчета. Данные вводить в формате. ГГГГ-ММ-ДД</p>
<p>8) В поле Конечная дата укажите до какого периода вы хотите рассматривать информацию для отчета. Данные вводить в формате. ГГГГ-ММ-ДД</p>
<p>9) В поле Данные для графиков добавьте файлы, необходимые для построения графиков</p>
<p>10) В поле Дополнительные файлы в формате PDF добавьте необходимые файлы для анализа</p>
<p>11) Нажмите Загрузить данные для проверки и отправки данных на сервис</p>
<p>12) В следующем окне вы увидете введенные вами данные для генерации отчета. Для генерации отчета нажмите Сгенерировать отчет.</p>
<p>*Время генерации отчета может составлять до 20 минут.</p>
</div>
<br>
<h3 class="spoiler-toggle" onclick="toggleSpoiler(event)">Как вносить изменения в сгенерированный отчет?</h3>
<div class="spoiler-content">
<p>1) Откройте готовый отчет</p>
<p>2) Найдите главу, которую хотите исправить и нажмите в ее конце кнопку“Редактировать главу” (см. скриншот)</p> <p> <img src="/media/edit_chapter.png" alt="Выбор типа отчетов" /> </p><br>
<p>3) В открывшемся окне внизу страницы выберите нужный вам вариант</p>
<p>- “Перегенировать главу” перезапустит LLM для данной главы</p>
<p>- “Изменить главу” позволяет вносить изменения в отчете в ручном режиме</p>
</div>
<br>
<h3 class="spoiler-toggle" onclick="toggleSpoiler(event)">Как настраивать шаблоны?</h3>
<div class="spoiler-content">

<p>1) Перейдите в пункт меню “Шаблоны” отчетов</p>
<p>2) Выберите отчет в который вы хотите внести правки (или посмотретьинформацию о деталях отчета)</p>
<p>3) Выберите пункт “Изменить данные о шаблоне отчета” внизу страницы</p>
<p>) Внесите необходимые изменения.- В пункте “Sources” вы можете выбрать все необходимые вамисточники зажимая Ctrl (Как добавить источники в этот списокможно узнать в главе инструкции “Как вносить источники для шаблонов?”)</p>
<p>- В пунтке “Chapters” можно менять структуру глав и подглависпользуя следующую структуру текста: [ “Название главы 1:Подглава_1, Подглава_2”, “Название главы 2: Подглава_1,Подглава_2, Подглава_3”]</p>
<p>- В пунктах “Chapter prompt”, “Prompt search”, “Prompt search” используются оптимальные для нашего решения промты, одинаковы также можете вносить в них коорективы! ВНИМАНИЕ при создании кастомного отчета рекомендуется вставлять в поля “Chapter prompt”, “Prompt search”, “Prompt search” предзаписанные промты сайта из классических отчетов</p>
</div>
<br>
<h3 class="spoiler-toggle" onclick="toggleSpoiler(event)">Как вносить источники для шаблонов?</h3>
<div class="spoiler-content">
<p>1) В меню выберите пункт “Источники”</p>
<p>2) В появившемся спсике выберите “Добавить источник”</p>
<p>3) Зполните поля: “Source” для названия источника и “URL” для ссылки(поле “Source feature” опционально, можно вставить “-” при отсутствииинформации для ввода)</p>
<p>4) Нажмите “Submit” для сохранения источника</p>
<p>*)Вы можете вносить в существующие источники, для этого просто кликните нанего в списке источников</p>
</div>
<script>
function toggleSpoiler(event) {
  var spoilerContent = event.target.nextElementSibling;
  if (spoilerContent.style.display === 'none' || spoilerContent.style.display === '') {
    spoilerContent.style.display = 'block';
    event.target.style.borderBottom = 'none';
  } else {
    spoilerContent.style.display = 'none';
    event.target.style.borderBottom = '1px solid #ddd';
  }
}
</script>
{% endblock %}
