{% extends "base_generic.html" %}

{% block title %}
<title>База данных ЦК НТИ</title>
{% endblock %}


{% block content %}
<h3>Добавление испытанных образцов</h3>
                <form method="POST" enctype="multipart/form-data">
                    <div class="form-settings notes-form">
                        {% csrf_token %}
                        <input type="file" name="file">
                        <button id="invite-tutor-btn" class="btn btn-primary margin-top"
                                data-loading-text="Loading..." type="submit">Save
                        </button>
                    </div>
                </form>
{% endblock %}