{% extends "base_generic.html" %}

{% block content %}
  <h2>Глава {{ chapter.id }}</h2>

  <p><strong>Название отчета:</strong> {{ chapter.report.report_name }}</p>
  <p><strong>Название главы:</strong> {{ chapter.chapter_name }}</p>
  <p><strong>Текст главы:</strong> {{ chapter.chapter_text }} </p>
  
<!-- <a href="{% url 'regen_chapter' object_id=chapter.id %}">Перегенерировать главу</a> -->
<br>
<p><a href="{% url 'chapter_update' chapter.id %}">Изменить главу</a></p>

<p><a href="{% url 'chapter_create' %}">Добавить новый главу</a></p>

<a href="{% url 'chapters' %}">Назад к списку глав</a>
{% endblock %}