.tab2 {
    display: inline-box;
    margin-left: 20px;
}
.tab3 {
    display: inline-box;
    margin-left: 30px;
}
.tab20 {
    display: inline-box;
    margin-left: 40px;
}

.sidebar_menu {
  background-color: lightblue;
  font-family: verdana;
}