{% load static %}
{% block content %}

<style type="text/css">
    
</style>
<style type="text/css">
    .menu-bottom {
        position: absolute; /* Position the menu at the bottom */
        bottom: 0; /* Align to the bottom */
        width: 100%; /* Full width */
    }
</style>
<div id="sidebar" class="active">
    <div class="sidebar-wrapper active">
        <div class="sidebar-header">
            <div class="d-flex justify-content-between">
                <a href="/"><div class="logo">
                    <!--<img src="{% static 'assets/images/logo/logo.png' %}" alt="Logo" srcset="">-->
                    <h1 style="text-align:center; color: #000 !important;">AAA</h1>
                </div></a>
                <div class="toggler">
                    <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                </div>
            </div>
        </div>
        <div class="sidebar-menu">
            <ul class="menu">
                <li class="sidebar-title">Меню</li>

                <li class="sidebar-item  {% if request.resolver_match.url_name == 'report_types' %} active sidebar-item-active{% endif %}">

                    <a href="{% url 'report_types' %}" class='sidebar-link'>
                        <i class="bi bi-code"></i>
                        <span>Шаблоны отчетов</span>
                    </a>
                </li>
                <li class="sidebar-item  {% if request.resolver_match.url_name == 'sources' %} active sidebar-item-active{% endif %}">
                    <a href="{% url 'sources' %}" class='sidebar-link'>
                        <i class="bi bi-bullseye"></i>
                        <span>Источники</span>
                    </a>
                </li>
                <li class="sidebar-item  {% if request.resolver_match.url_name == 'regions' %} active sidebar-item-active{% endif %}">
                    <a href="{% url 'regions' %}" class='sidebar-link'>
                        <i class="bi bi-compass"></i>
                        <span>Регионы</span>
                    </a>
                </li>
                <li class="sidebar-item  {% if request.resolver_match.url_name == 'reports' %} active sidebar-item-active{% endif %}">
                    <a href="{% url 'reports' %}" class='sidebar-link'>
                        <i class="bi bi-file-earmark"></i>
                        <span>Отчеты</span>
                    </a>
                </li>
<!--                 <li class="sidebar-item  {% if request.resolver_match.url_name == 'chapters' %} active sidebar-item-active{% endif %}">
                    <a href="{% url 'chapters' %}" class='sidebar-link'>
                        <i class="bi bi-bookmarks-fill"></i>
                        <span>Главы</span>
                    </a>
                </li> -->
                <br><br>   
                <li class="sidebar-item active sidebar-item-active">
                    <a href="{% url 'report_create' %}" class='sidebar-link'>
                        <i class="bi bi-arrow-right-short"></i>
                        <span>Создать новый отчет</span>
                    </a>
                </li>
            </ul>
            <ul class="menu menu-bottom">
            <li class="sidebar-item">
                <a href="{% url 'faq' %}" class='sidebar-link'>
                    <i class="bi bi-question-circle"></i>
                    <span>FAQ</span>
                </a>
            </li>
        </ul>
        </div>
        <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
    </div>

</div>
<div id="main">
    <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
        </a>
    </header>

    {% endblock content %}