{% extends 'base_generic.html' %}

{% block content %}
    <h1>This is a FAQ Page</h1>
    <h2>Как создать отчет по заготовленным шаблонам?</h2>
<p>1) В меню выберите кнопку “Создать новый отчет”</p>
<p>2) В пункте Report name введите название отчета</p>
<p>3) В пункте Short description опишите ваши основные пожелания к отчету</p>
<p>4) В пункте Report type выберите один из предложенных шаблонов (высможете редактивровать их во пункете меню “Шаблоны отчетов”,подробнее в главе инструкции “Как настраивать шаблоны?”</p>
<p>) В поле Additional sources вы можете добавить источники, которых небыло в шаблоне! Внимание, каждый шаблон уже содержит предустановленныеисточники, проверить которые можно во вкладке “Шаблоны”</p>
<p>6) В поле Filters вы можете написать условия поиска, которые исключаюткакие-то поисковые запросы (напр. “Не вноси в отчет данные о проектахиз города N”)</p>
<p>7) В поле Start date укажите с какого периода вы хотите рассматриватьинформацию для отчета. Данные вводить в формате. ГГГГ-ММ-ДД8) В поле End date укажите до какого периода вы хотите рассматриватьинформацию для отчета. Данные вводить в формате. ГГГГ-ММ-ДД</p>
<p>9) В поле Plot files добавьте необходимые графики</p>
<p>10) В поле Files добавьте необходимые файлы для анализа</p>
<p>11) Нажмите Submit для генерации отчета</p>
<h2>Как вносить изменения в сгенерированный отчет?</h2>
<p>1) Откройте готовый отчет</p>
<p>2) Найдите главу, которую хотите исправить и нажмите в ее конце кнопку“Редактировать главу” (см. скриншот)</p>
<p>3) В открывшемся окне внизу страницы выберите нужный вам вариант</p>
<p>- “Перегенировать главу” перезапустит LLM для данной главы</p>
<p>- “Изменить главу” позволяет вносить изменения в отчете в ручном режиме</p>
<h2>Как настраивать шаблоны?</h2>
<p>1) Перейдите в пункт меню “Шаблоны” отчетов</p>
<p>2) Выберите отчет в который вы хотите внести правки (или посмотретьинформацию о деталях отчета)</p>
<p>3) Выберите пункт “Изменить данные о шаблоне отчета” внизу страницы</p>
<p>) Внесите необходимые изменения.- В пункте “Sources” вы можете выбрать все необходимые вамисточники зажимая Ctrl (Как добавить источники в этот списокможно узнать в главе инструкции “Как вносить источники для шаблонов?”)</p>
<p>- В пунтке “Chapters” можно менять структуру глав и подглависпользуя следующую структуру текста: [ “Название главы 1:Подглава_1, Подглава_2”, “Название главы 2: Подглава_1,Подглава_2, Подглава_3”]</p>
<p>- В пунктах “Chapter prompt”, “Prompt search”, “Prompt search” используются оптимальные для нашего решения промты, одинаковы также можете вносить в них коорективы! ВНИМАНИЕ при создании кастомного отчета рекомендуется вставлять в поля “Chapter prompt”, “Prompt search”, “Prompt search” предзаписанные промты сайта из классических отчетов</p>
<h2>Как вносить источники для шаблонов?</h2>
<p>1) В меню выберите пункт “Источники”</p>
<p>2) В появившемся спсике выберите “Добавить источник”</p>
<p>3) Зполните поля: “Source” для названия источника и “URL” для ссылки(поле “Source feature” опционально, можно вставить “-” при отсутствииинформации для ввода)</p>
<p>4) Нажмите “Submit” для сохранения источника</p>
<p>*)Вы можете вносить в существующие источники, для этого просто кликните нанего в списке источников</p>
{% endblock %}
